<style>
    a{
        color : white;
        text-decoration: none;
    }
</style>
<div >
    <img src="../assests/images/events.png" alt="" style="width:80%;margin:30px auto;display: block;">

    <h1 style="text-align: center;color: blue;">Welcome</h1>

    <p style="font-size: 26px;padding: 0px 40px;text-align: center;">Please place your order and take home discounts. Do
        refer us, to gain points. Choose from a variety of laundry
        options such as 5 Star, Dry Clean, and Wash & Iron. We provide quality service at your door step. Awaiting your
        laundry!!!</p>

    <button style="background-color: blue;color: white; font-size: 25px; padding: 10px; border-radius: 30px; 
        margin: auto; display: block;"><a href="/orders">Schedule A Wash</a></button>

</div>