<div style="margin-top:30px;">
    <!-- <h1 style="text-align:center;"><a href="/fivestar" target="content">5 Star</a></h1> -->
    <h1 style="text-align:center;"><a href="/WashIron" target="content" style="text-decoration: none;">Wash And Iron</a></h1>
    <h1 style="text-align:center;"><a href="/WashFold" target="content" style="text-decoration: none;">Wash And Fold</a></h1>
    <h1 style="text-align:center;"><a href="/Dry_Cleaning" target="content" style="text-decoration: none;">Dry Cleaning</a></h1>
    <h1 style="text-align:center;"><a href="/Shoe_Laundry" target="content" style="text-decoration: none;">Shoe Laundry</a></h1>
    <h1 style="text-align:center;"><a href="/Steam_Ironing" target="content" style="text-decoration: none;">Steam Ironing</a></h1>
    <h1 style="text-align:center;"><a href="/Carpet_Cleaning" target="content" style="text-decoration: none;">Carpet Cleaning</a></h1>
    <h1 style="text-align:center;"><a href="/Roll_Polishing" target="content" style="text-decoration: none;">Roll Polishing</a></h1>
    <h1 style="text-align:center;"><a href="/Pet_care" target="content" style="text-decoration: none;">Home care</a></h1>
</div>